<h3>Genera Codice Fiscale</h3>

<div class="container">
  <div class="containerInput">
    <input type="text" placeholder="Inserire Nome" [(ngModel)]="nome" />
    <br />
    <input type="text" placeholder="Inserire cognome" [(ngModel)]="cognome" />
    <br />
    <!-- Alternative Input -->
    <!-- input type="text" placeholder="Inserire giorno" [(ngModel)]="giorno" /> -->
    <!-- <input type="text" placeholder="Inserire Mese, Es: 11" [(ngModel)] = "mese"> -->
    <!-- <input type="text" placeholder="Inserire Anno, Es: 2002" [(ngModel)] = "anno"> -->
    <!-- <input type="text" placeholder="Inserire il Genere, Es: M " [(ngModel)] = "genere"> -->
    <!-- <input type="text" placeholder="Inserire Comune di Nascita" [(ngModel)] = "comuneScelto"> -->

    <ng-select [(ngModel)]="giorno" placeholder="Inserire Giorno, Es: 27">
      <ng-option *ngFor="let giorno of giorniMese" [value]="giorno+1">
        {{ giorno+1 }}
      </ng-option>
    </ng-select>

    <br />

    <ng-select [(ngModel)]="mese" placeholder="Inserire Mese, Es: 11" >
      <ng-option *ngFor="let mese of mesiNumeri" [value]="mese">
        {{ mese }}
      </ng-option>
    </ng-select>

    <br />

    <ng-select [(ngModel)]="anno" placeholder="Inserire Anno, Es: 2002">
      <ng-option *ngFor="let anno of anni; let i = index" [value]="anno">
        {{ anno }}
      </ng-option>
    </ng-select>

    <br />

    <ng-select [(ngModel)]="genere" placeholder="Inserire il Genere, Es: Maschio ">
      <ng-option value="M">Maschio</ng-option>
      <ng-option value="F">Femmina</ng-option>
    </ng-select>

    <br />

    <ng-select [(ngModel)]="comuneScelto" placeholder="Inserire Comune di Nascita, Es: Rovereto">
      <ng-option *ngFor="let comune of datiComune" [value]="comune.nome">
        {{ comune.nome }}
      </ng-option>
    </ng-select>
    
    <br />

    <button class="bottoneInvio" (click)="generaCodiceFiscale()">
      CALCOLA CODICE FISCALE
    </button>
  </div>



  <div class="risultato">
    <span style="color: rgb(11, 223, 11);" *ngIf ="check ==  true; else Errore">OK</span>
    <ng-template #Errore><span style="color: red;" *ngIf ="check == false">RIEMPIRE TUTTI I CAMPI</span></ng-template>
    <h3>Codice Fiscale: {{ risultato }}</h3>
  </div>
</div>
