.containerInput {
    /*  margin: 100px auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInput input, button, ng-select {
    /*  padding: 10px;
    margin: 10px; */
    min-width: 300px;
    width: 450px;
    /*  border: 1px solid rgb(214, 214, 214); */
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 36px;
    max-height: 36px;
}

.risultato {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

ng-select {
    border: 0;
    width: 456px;
}

button {
    width: 456px;
    background-color: rgb(248, 248, 248);
}

button:hover,button:focus{
    font-weight: bold;
    background-color: rgb(245, 245, 245);
}